venv/
.env
vision_key.json


# Django 暫存資料夾
__pycache__/
*.pyc

# Django 本機資料庫 (除非你們打算共用同一個 sqlite 檔案，否則建議忽略)
db.sqlite3

# 資料庫遷移記錄 (選配，初學建議可以先傳，但大型專案通常會過濾)
# drug_reminders/migrations/00*.py

serviceAccountKey.json
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
